* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

main {
  border-top: 8px solid hsl(0deg, 0%, 40%);
  background: hsl(0deg, 0%, 60%);
}

strong {
  color: hsl(160deg, 100%, 30%);
}

em {
  font-style: italic;
}

.card {
  background: hsl(0deg, 0%, 100%);
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
  padding: 27px;
  padding-top: 5px;
  width: fit-content;
}

.title {
  font-size: 2rem;
  margin-bottom: 48px;
}

.intro-chunk p {
  font-size: 1.5rem;
  margin-bottom: 32px;
}

.intro-chunk {
  padding: 18px;
  width: 75%;
}

.card p {
  font-size: 1.25rem;
}

.indented-heading {
  font-size: 1.5rem;
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
  width: max-content;
  padding-left: 36px;
  padding-right: 32px;
  padding-top: 18px;
  padding-bottom: 18px;

  margin-left: -48px;
}

.max-width-wrapper {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 36px;
}

.card p:last-child {
  margin-bottom: 0;
}
